body,  html
{
	height: 100%;
	background-color: #be4731;
}

h1,  h2{
	font-family: Georgia;
}

#mood
{
	padding: 2.5% 5%;
	width: 20%;
	background-color: #be4731;
	float: left;
	color: #FFF;
}

#mood nav a
{
	color: #FFF;
	display: block;
	text-decoration: none;
	font-size: 1.5em;
	line-height: 1.8em;
}

.notice{
	margin-top: 40px;
	color: #dc8879;
	font-size: 0.8em;
}

.notice a{
	color: #dc8879;
}

#movies
{
	width: 70%;
	float: left;
	background-color: #ffaf1a;
	color: #FFF;
	padding-top: 3%;
}

#movies h2
{
	color: #5a1e14;
}

#movies p{
	color: #5a1e14;
}

#movies ul li{
	list-style-type: none;
}

#scores li{
	margin-bottom: 10px;
}