body
{
	font-family: Helvetica, Tahoma, Arial, Verdanan, sans-serif;
}

div.feedback
{
	width: 600px;
	margin: 25px auto;
	background-color: #0896ff;
	color: #fff;
	padding: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #25689a;
	font-weight: bold;
	text-shadow: 1px 0px 0px #25689a;
}


fieldset
{
	width: 250px;
	border: 1px solid #ccc;
	padding: 0 15px 15px 15px;
	margin: 0 auto;
	background-color:#feba02;
	color: #003580;
	font-weight: bold;
}

legend
{
	font-weight: bold;
}

label
{
	display: block;
	margin-top: 20px;	
}

label.inline
{
	display:inline;
}

.enlarge
{
	font-size: 18px;
	padding: 3px;	
}

input.submit
{
	font-size: 18px;
	font-weight: bold;
	padding: 5px;	
	background-color: #0896ff;
	color: #fff;
	margin-top: 15px;
}
